<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <h2>List of Students</h2>

      <table class="table table-bordered table-striped">
        <tr>

          <td style="padding: 5px;">
            <input type="text"
                   [(ngModel)]="curcandidat.FK_Etudient"
                   class="form-control">
          </td>
          <td style="padding: 5px;">
            <input type="text"
                   [(ngModel)]="curcandidat.FK_Syndicat"
                   class="form-control">
          </td>

<!--          <td style="padding: 5px;">-->
<!--            <select class="form-control" [(ngModel)]="curcandidat.FK_Etudient">-->
<!--              <option [value]="etud.id"-->
<!--                      *ngFor="let etud of etudiants">-->
<!--                {{etud.nom}}-->
<!--              </option>-->
<!--            </select>-->
<!--          </td>-->
<!--          <td style="padding: 5px;">-->
<!--            <select class="form-control" [(ngModel)]="curcandidat.FK_Syndicat">-->
<!--              <option [value]="synd.id"-->
<!--                      *ngFor="let synd of syndicats">-->
<!--                {{synd.syndicat_nom}}-->
<!--              </option>-->
<!--            </select>-->
<!--          </td>-->
          <td style="padding: 5px;">
            <button style="padding-left: 50%; padding-right: 50%;" class="btn btn-success"
                    *ngIf="!curcandidat.id"
                    [disabled]="
                    !curcandidat.FK_Etudient ||!curcandidat.FK_Syndicat"
                    (click)="save()">Ajouter</button>
            <button style="padding-left: 50%; padding-right: 50%;" class="btn btn-dark"
                    *ngIf="curcandidat.id"
                    (click)="save()">Modifier</button>
          </td>
        </tr>
        <tr>
          <th>id</th>
          <th>Etudiant</th>
          <th>Syndicat</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let candidat of candidats">
          <td>{{candidat.id}}</td>
          <td>{{candidat.nomEtud}}</td>
          <td>{{candidat.nomSynd}}</td>
          <td>
            <i class="fa fa-edit"
               (click)="fillForm(candidat)"
               style="font-size: 25px"></i>&nbsp;&nbsp;
            <i class="fa fa-trash"
               (click)="delete(candidat.id)"
               style="font-size: 25px; color: orangered"></i>
          </td>
        </tr>
        <tr *ngIf="!candidats.length">
          <td colspan="4"
              class="text-center">Aucune etudière dans ce module
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
