<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <h2>List of Professors</h2>
      <table class="table table-bordered table-striped">
        <tr>
<!--          <td style="padding: 5px;">-->
<!--            <input type="text"-->
<!--                   [(ngModel)]="curProf.id"-->
<!--                   class="form-control">-->
<!--          </td>-->
          <td style="padding: 5px;">
            <input type="text"
                   [(ngModel)]="curProf.nom"
                   class="form-control">
          </td>
          <td style="padding: 5px;">
            <input type="text"
                   [(ngModel)]="curProf.prenom"
                   class="form-control">
          </td>
          <td style="padding: 5px;">
            <button style="padding-left: 70%; padding-right: 70%;" class="btn btn-success"
                    *ngIf="!curProf.id"
                    [disabled]="!curProf.nom || !curProf.prenom "
                    (click)="save()">Ajouter</button>
            <button style="padding-left: 70%; padding-right: 70%;" class="btn btn-dark"
                    *ngIf="curProf.id"
                    (click)="save()">Modifier</button>
          </td>
        </tr>
        <tr>
          <th>id</th>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let prof of professeurs">
          <td>{{prof.id}}</td>
          <td>{{prof.nom}}</td>
          <td>{{prof.prenom}}</td>
          <td>
            <i class="fa fa-edit"
               (click)="fillForm(prof)"
               style="font-size: 21px"></i>&nbsp;&nbsp;
            <i class="fa fa-trash"
               (click)="delete(prof.id)"
               style="font-size: 21px; color: orangered"></i>
          </td>
        </tr>
        <tr *ngIf="!professeurs.length">
          <td colspan="4"
              class="text-center">Aucune profière dans ce module
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
