<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <h2>Liste des Candidats</h2>
      <table class="table table-bordered table-striped">
        <tr>
          <td style="padding: 5px;">
            <input type="text"
                   [(ngModel)]="curCandidat.poste"
                   class="form-control">
          </td>

          <td style="padding: 15px;">
            <select class="form-control" [(ngModel)]="curCandidat.idEtudiant">
              <option [value]="prof.id"
                      *ngFor="let prof of etudiants">
                {{prof.nom}}
              </option>
            </select>
          </td>
          <td style="padding: 5px;">
            <button style="padding-left: 40%; padding-right: 30%;" class="btn btn-success"
                    *ngIf="!curCandidat.id"
                    [disabled]="!curCandidat.poste || !curCandidat.idEtudiant"
                    (click)="save()">Ajouter</button>
            <button style="padding-left: 40%; padding-right: 30%;" class="btn btn-dark"
                    *ngIf="curCandidat.id"
                    (click)="save()">Modifier</button>
          </td>
        </tr>
        <tr>
          <th>Post</th>
          <th>Nom</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let mat of candidats">
          <td>{{mat.poste}}</td>
          <td>{{mat.nomEtud}}</td>
          <td>
            <i class="fa fa-edit"
               (click)="fillForm(mat)"
               style="font-size: 21px"></i>&nbsp;&nbsp;
            <i class="fa fa-trash"
               (click)="delete(mat.id)"
               style="font-size: 21px; color: orangered"></i>
          </td>
        </tr>
        <tr *ngIf="!candidats.length">
          <td colspan="4"
              class="text-center">Aucune Candidat dans ce Syndicat
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
