<div class="row">
  <div class="col-sm-12">
    <mat-card>
      <h2>List of Students</h2>
      <table class="table table-bordered table-striped">
        <tr>
          <td style="padding: 5px;">
            <label>Ine</label>
            <input type="text"
                   [(ngModel)]="curetudiant.ine"
                   class="form-control">
          </td>
          <td style="padding: 5px;">
            <label>Nom</label>
            <input type="text"
                   [(ngModel)]="curetudiant.nom"
                   class="form-control">
          </td>
<!--          -->          <td style="padding: 5px;">
          <label>Prenom</label>
          <input type="text"
                   [(ngModel)]="curetudiant.prenom"
                   class="form-control">
          </td>
          <td style="padding: 5px;">
            <label>Date</label>
            <input type="Date"
                   [(ngModel)]="curetudiant.date"
                   class="form-control">
          </td>
<!--          -->
          <td style="padding: 5px;">
            <label>Email</label>
            <input type="email"
                   [(ngModel)]="curetudiant.email"
                   class="form-control">
          </td>
          <td style="padding: 5px;">
            <label>Password</label>
            <input type="text"
                   [(ngModel)]="curetudiant.password"
                   class="form-control">
          </td>
<!--          -->
                    <td style="padding: 5px;">
                      <label>Inscription</label>
            <input type="text"
                   [(ngModel)]="curetudiant.inscription"
                   class="form-control">
          </td>
          <td style="padding: 5px;">
            <label>Niveau</label>
            <input type="text"
                   [(ngModel)]="curetudiant.niveau"
                   class="form-control">
          </td>
<!--          -->
                    <td style="padding: 5px;">
                      <label>Etablisement</label>
            <input type="text"
                   [(ngModel)]="curetudiant.etablisement"
                   class="form-control">
          </td>
<!--          -->

          <td style="padding: 5px;">
            <button style="padding-left: 10%; padding-right: 10%;margin-top: 50%;
            padding-bottom: 20%;padding-top: 20%;" class="btn btn-success"
                    *ngIf="!curetudiant.id"
                    [disabled]="
                    !curetudiant.ine ||!curetudiant.nom || !curetudiant.prenom ||
                    !curetudiant.date || !curetudiant.email ||
                    !curetudiant.password || !curetudiant.inscription ||
                    !curetudiant.niveau || !curetudiant.etablisement
"
                    (click)="save()">Ajouter</button>
            <button
              style="padding-left: 10%; padding-right: 10%;margin-top: 50%;padding-bottom: 20%;
              padding-top: 20%;" class="btn btn-dark"
              *ngIf="curetudiant.id"
                    (click)="save()">Modifier</button>
          </td>
        </tr>
        <tr>
          <th>id</th>
          <th>Ine</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Date</th>
          <th colspan="2">Email</th>
          <th colspan="2">Etablissement</th>
          <th >Actions</th>
        </tr>
        <tr *ngFor="let etud of etudiants">
          <td>{{etud.id}}</td>
          <td>{{etud.ine}}</td>
          <td>{{etud.nom}}</td>
          <td>{{etud.prenom}}</td>
          <td>{{etud.date}}</td>
          <td colspan="2">{{etud.email}}</td>
          <td colspan="2">{{etud.etablisement}}</td>
          <td>
            <i class="fa fa-edit"
               (click)="fillForm(etud)"
               style="font-size: 25px"></i>&nbsp;&nbsp;
            <i class="fa fa-trash"
               (click)="delete(etud.id)"
               style="font-size: 25px; color: orangered"></i>
          </td>
        </tr>
        <tr *ngIf="!etudiants.length">
          <td colspan="4"
              class="text-center">Aucune etudiant existe
          </td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
